.siva {
    margin-top: 5%;
    width: 100%;
    height: 40%;
}

#sivaH2 {
    margin-left: 45%;
}

#navYam {
    width: 100%;
    height: 100%;
}

#navYam ul li {
    margin-top: 2%;
    display: inline-block;
    width: 13%;
    height: 250px;
    margin-left: 5px;
    background-color: blueviolet;
    list-style: none;
} 
.navYam2 {
    width: 100%;
    height: 100%;
}

.navYam2 ul li {
    margin-top: 2%;
    display: inline-block;
    width: 19%;
    height: 250px;
    margin-left: 8px;
    background-color: blueviolet;
    list-style: none;
} 

#hot {
    margin-left: 37%;
}

#hashtag1{
    margin-bottom: 5px;
}

#hashtag {
    float: right;
    width: 50%;
    height: auto;
    background-color: blueviolet;
    margin-top: 20px;
}

#hashtag1 a, #hashtag2 a{
    width: 100px;
    height: 50px;
    display: inline-block;
    margin-left: 6px;
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
    text-decoration: none;
    color: white;
}

#navYam4 {
    width: auto;
    height: auto;
   
}

#navYam4 ul li {
    margin-top: 2%;
    display: inline-block;
    width: 13%;
    height: 250px;
    margin-left: 5px;
    background-color: blueviolet;
    list-style: none;
    position: relative;
} 

#navYam5 {
    width: auto;
    height: auto;
}

#navYam5 ul li {
    margin-top: 2%;
    display: inline-block;
    width: 13%;
    height: 250px;
    margin-left: 5px;
    background-color: blueviolet;
    list-style: none;
    position: relative;
} 


#navYam4 ul li:nth-child(1) {
    margin-left: 15%;
}

#navYam5 ul li:nth-child(1) {
    margin-left: 15%;
}

.navYam4div {
    top: 150px;
    position: absolute;
    width: 100%;
    height: 100px;
}


.video-section1 {
	height: 350px;
	padding-top: 120px;
}
.video-section1 .video-text1 {
    text-align: left;
    display: inline-block;
    width: 40%;
}
.video-section1 .video-text1 h2 {
	font-size: 48px;
	color: #ffffff;
    margin-bottom: 16px;

}
.video-section1 .video-text1 p {
	font-size: 20px;
	color: #ffffff;
    margin-bottom: 40px;

}

/* �α��ǰ ?*/
.Hot {
    margin-top: 5%;
    width: 100%;
    height: 400px;
    margin-bottom: 5%;
}

#hotId {
    width: 100%;
    height: 300px;
}

.hothot {
    width: 32%;
    height: 200px;
    float: left;
    margin-left: 10px;
}

.hothot:nth-child(1) {
    margin-left: 1%;
}

#sivaH3 {
    margin-left: 15%;
}

.siva1 {
    margin-top: 2%;
    width: 100%;
    height: auto;
}

#member {
    width: 100%;
    height: 90%;
    background-color: rgb(233, 233, 233);
    position: relative;
}

#memberH2 {
  padding-left: 7%;
  padding-bottom: 3%;
}

#memDiv {
    width: 95%;
    height: 95%;
    margin: 0 auto;
    top: 3%;
    position: relative;
}

#side {
    width: 15%;
    height: 45%;
    background-color: #ffffff;
    border-radius: 20px;
    top: 8%;
    left: 7%;
    position: absolute;
    float: left;
}
#sideul li {
    list-style: none;
    width: 45%;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

#sideul li:nth-child(1) {
    margin-top: 40px;
}

#memberForm {
    top: 8%;
    width: 70%;
    height: 90%;
    left: 24%;
    border-radius: 20px;
    position: absolute;
    background-color: #ffffff;
}

#frmH2 {
    padding-top: 1%;
    padding-left: 40%;
    color: rgb(60,60,60);
    font-size: 30px; 
    font-weight: bold;
}

#frmP {
	 padding-top: 1%;
    padding-left: 35%;
}


#ftable {
    margin-top: -0.2%;
    border-collapse: collapse;
}

#fatable td {
    white-space:nowrap;
}

#ftable tr, #ftable td{
    width: 400px;
    height: 90px;
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}


#ftableDiv {
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    border: 1px solid #cccccc;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: none;
}


#siva3 {
    width: auto;
    height: auto;
    position: relative;
    margin-top: 20px;
}

#hotel1 {
    margin:0 auto;
    display: table;
}

/* ���λ�ǰ */
.Hot2 {
    margin-top: 3%;
    width: 100%;
    height: 400px;
    margin-bottom: 5%;
    position: relative;
}

#hotId2 {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    position: absolute;
}

.hothot2 {
    width: 25%;
    height: 200px;
    float: left;
    margin-left: 10px;
}

.hothot2:nth-child(1) {
    margin-left: 12%;
}

/*���� �α�������*/

#sivaH4 {
    margin-left: 15%;
}

#siva4 {
    width: auto;
    height: auto;
    position: relative;
}

.sivaHot {
    margin-top: 2%;
    width: 100%;
    height: auto;
    margin-bottom: 7%;
}

#navYamHot1 {
    width: auto;
    height: auto;
}

#navYamHot2 {
    width: auto;
    height: auto;
    background-color: cornflowerblue;
}

#navYamHot1 ul li, #navYamHot2 ul li {
    margin-top: 2%;
    display: inline-block;
    width: 13%;
    height: 250px;
    margin-left: 5px;
    background-color: blueviolet;
    list-style: none;
    position: relative;
}

#navYamHot1 ul li:nth-child(1), #navYamHot2 ul li:nth-child(1) {
    margin-left: 16%;
}

#siva5 {
    width: auto;
    height: auto;
}

#sivaH5 {
    margin-left: 16%;
}

.sivaHotH {
    margin-top: 2%;
    width: 100%;
    height: auto;
    margin-bottom: 7%;
}


.inputY {
    margin-left: 20px;
}

.inputSpan {
    margin-left: 20px;
}

/* password 변경 */

.modal {
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1; /*앞에 보이게 하기*/
	width: 100%;
	height: 100%;
	overflow: auto;
	display: none;
}

.ramimo {
	background-color: #fefefe;
	padding: 20px;
	width: 30%;
	height: 55%;
	margin: 10% auto;
	border: 1px solid #888;
}

.close {
 	color: #aaa;
 	font-size: 30px;
 	font-weigth: bold;
 	margin-left: 90%;
 	float: right;
}


.close:hover {
	color: black;
	cursor: pointer;
}


.passwordInput {
	margin: 0 auto;
	width: 60%;
	padding: 10px;
	-webkit-appearance: none;
	border: 2px solid #999;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-bottom: 30px
}

#passFrm {
	margin:0 auto;
	width: 100%;
	height: auto;
}

#newPwChk {
	margin: 0 auto;
	width: 60%;
	padding: 10px;
	-webkit-appearance: none;
	border: 2px solid #4FC9DE;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-bottom: 7%;
}

.label {
	display: block;
	margin: 0 auto;
}

.label:nth-child(1) {
	margin-top: 
}

hr {
	height: 2px;
	color: #dddddd;
}

/* 마이페이지 이미지파일*/

#imgId {
	margin-left: 10%;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

#fileLabel {
	margin-left: 5px;
	margin-top: 2px;
	padding: 15px;
}

#fileLabel:hover {
	cursor: pointer;
}

#fileBtn {
	display: none;
}

#fileChangeBtn {
	width: 390px;
	height: auto;
}

#ftable tr:hover {
	background-color: rgba(213,213,213,0.3);
}

.mypageInput {
	border: none;
	padding: 10px;
	font-size: 19px;
	color: rgb(60,60,60);
	font-weight:500;
	background-color: rgba(213,213,213,0.0);
}

.mypageInput:hover {
	cursor: text;
}


.textSize {
	color: rgb(60,60,60);
	padding: 10px;
	font-weight:500;
	font-size: 19px;
}

#koText {
	font-weight: bold;
}


/* 마이페이지 리뷰 스타일 */

#review {
    width: 100%;
    height: 140%;
    background-color: rgb(233, 233, 233);
    position: relative;
}

#reviewDiv {
    width: 95%;
    height: 90%;
    margin: 0 auto;
    top: 3%;
    position: relative;
}

#Reviewside {
    width: 15%;
    height: 30%;
    background-color: #ffffff;
    border-radius: 20px;
    top: 7%;
    left: 7%;
    position: absolute;
    float: left;
}

#reviewArea {
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    border: 1px solid #cccccc;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: none;
}

#ReviewH2 {
  padding-left: 7.5%;
  padding-bottom: 3%;
}

.reviewArea{ 
  max-width:90%; 
  margin: 0 auto; 
  position:relative; 
}
.reviewArea ul li{
  display:  inline-block;
  width:33.33%; 
  float:left;  
  text-align:center; 
  background :#f9f9f9;
  line-height:40px;
}
.reviewArea label{
  display:block;
  width:100%; 
  height:40px;
  line-height:40px;
}
.reviewArea input{display:none;}

.a{
  display:none; 

}
.reviewArea input:checked ~ label{
  background:#ccc;
}
.reviewArea input:checked ~ .a{
  display:block;
}
}

#Myprofile{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}



/* 마이페이지 디자인*/
#sideul a {
	color: #333333;
}

#sideul a:hover {
	color:#03a6ff;
}

/*.btnSub {
	padding: 15px;
	border: none;
	border-radius: 5px;
	background-color: #0080ff;
	color: #0080ff;
	font-size: 17px;
	margin: 0 auto;
}*/

.btnSub {
	padding: 15px;
	border: none;
	border-bottom: 1px solid #0080ff;
	background-color: rgba(0, 0, 0, 0.0);
	color: #0080ff;
	font-size: 17px;
	margin: 0 auto;
}

#passwordChagneBtn {
	margin-left: 50%;
}

#subBtn {
	margin-left: 7%;
}

.btnSub:hover {
	cursor: pointer;
}

#passSBtn {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom:10px;
	font-size: 20px;
	font-weight:bold;
	color:#4FC9DE;
	background-color: rgba(0, 0, 0, 0.0);
	border: none;
	margin-bottom: 20px;
	
}


#reviewFormArea {
    top: 7%;
    width: 70%;
    height: 70%;
    left: 24%;
    border-radius: 20px;
    position: absolute;
    background-color: white;
}

.a {
	position: absolute;
	width: 1200px;
	height: 500px;
}

.aC {
	text-decoration:  none;
	color: black;
}

.aC:hover {
	color: #03a6ff;
}
}
