<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sona | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/style_rami.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
  

    <!-- Header Section Begin -->
    <header class="header-section">
   
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active"><a href="./index.html">Home</a></li>
                                    <li><a href="./rooms.html">Rooms</a></li>
                                    <li><a href="./about-us.html">About Us</a></li>
                                    <li><a href="./pages.html">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="./room-details.html">Room Details</a></li>
                                            <li><a href="./blog-details.html">Blog Details</a></li>
                                            <li><a href="#">Family Room</a></li>
                                            <li><a href="#">Premium Room</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="./blog.html">News</a></li>
                                    <li><a href="./contact.html">Contact</a></li>
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

   <section id="member">
       <div id="memDiv">
           <h2 id="memberH2">마이페이지</h2>
           <div id="side">
                <nav id="sidenav">
                    <ul id="sideul">
                        <li><a href="">개인정보</a></li>
                        <li><a href="">리뷰관리</a></li>
                        <li><a href="">예약관리</a></li>
                        <li><a href="">내플래너</a></li>
                    </ul>
                </nav>
            </div>

            <div id="memberForm">
                <h2 id="frmH2">개인정보</h1>
                <p id="frmP">서비스에서 사용하는 기본 정보입니다.</p>
                <form name="frm" action="" method="POST">
                <div id="ftableDiv">
                    <table id="ftable">
                        <tr>
                            <td>프로필</td>
                            <td><label>나만의 프로필 이미지로 변경해보세요.<input type="file"></label></td>
                            <td><button>회원탈퇴</button></td>
                        </tr>

                        <tr>
                            <td>이름</td>
                            <td>성별</td>
                            <td>생년월일</td>
                        </tr>

                        <tr>
                            <td><label>이메일<span class="inputY" onclick="doChange(this)">가나다라마바사</span><input type="hidden" name="email" value="가나다라마바사"></label></td>
                            <td colspan="2"><label>전화번호<span class="inputY" onclick="doChange(this)">가나다라마바사</span><input type="hidden" name="tel" value="가나다라마바사"></label></td>
                        </tr>

                        <tr>
                            <td><span>아이디</span></td>
                            <td colspan="2">10</td>
                        </tr>

                        <tr>
                            <td>비밀번호</td>
                            <td colspan="2"><button>비밀번호 변경 ></button></td>
                        </tr>
                    </table>
                </div>
                </form>
            </div>
        </div>
   </section>

<script>
    function doChange(e){
       var nodeName = e.nodeName.toUpperCase();
       var parent = e.parentNode;

       

       if(nodeName == "SPAN"){
          //기존 e 가 span 이었으면 <input> 으로 바꾸기 
          var txt = e.innerHTML.trim();
          parent.removeChild(e);
          
          var node = document.createElement("input");
          node.value = txt;
          node.setAttribute('onfocusout', 'doChange(this)');
          node.setAttribute('onkeydown', 'doEnter(this)')
          
          
          parent.appendChild(node);
          node.focus();
        
          
       } else if (nodeName == "INPUT") {
          var txt = e.value.trim(); // <INPUT> 입력값
          parent.removeChild(e); // 기존 <INPUT> 삭제
          
          var node = document.createElement("span");
          var txtNode = document.createTextNode(txt);
          node.appendChild(txtNode);
          node.setAttribute('onclick', 'doChange(this)');
          parent.appendChild(node);

          $(".inputY").addClass("inputSpan");
          
       }

    } 
    
    function doEnter(e) {
       //13은 엔터
       if(event.keyCode == 13) {
          doChange(e);
       }
    }
    
    </script>
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>